.Profile {
  margin-top: 60px;
  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .left-part {
    // flex: 2;
    overflow-y: auto;
  }
  .right-part {
    // flex: 1;
    margin-top: 20px;
  }

  .profile-card {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    padding-bottom: 50px;

    .profile-container {
      // margin-left: 10px;
    }

    .my-profile-left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      gap: 50px;
    }
    .my-profile-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .my-profil-right-container {
        display: flex;
        flex-direction: column;
      }
    }

    .user-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .user-name {
      font-weight: 500;
    }
    .user-name,
    .follower-info {
      margin-top: 12px;
    }

    .bio {
      margin-top: 6px;
    }

    .follower-info {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .flex {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-inline: 10px;
        padding-block: 5px;
        justify-content: center;
        align-items: center;

        h4 {
          font-size: 1.2rem;
        }
      }

      .bold {
        font-size: 1.1rem;
      }
    }

    .follow,
    .update-profile {
      margin-top: 20px;
      display: inline-block;
    }
    .follow-link {
      color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .Profile {
    .right-part {
      .profile-card {
        .profile-container {
          .my-profile-left {
            gap: 1px;
            .user-img {
              width: 75px;
              height: 75px;
            }
            .follower-info {
              gap: 6px;
            }
          }
          .my-profile-right {
            justify-content: start;
            align-items: center;
            gap: 70px;
          }
        }
      }
    }
  }
}
