.Profile {
  margin-top: 60px;
  .profile-main-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .left-part {
    // flex: 2;
    overflow-y: auto;
  }
  .right-part {
    // flex: 1;
    margin-top: 20px;
  }

  .profile-card {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    display: flex;
    padding-block: 20px;

    .profile-container {
      margin-left: 10px;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
    }

    .my-profile-left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      gap: 50px;
    }
    .my-profile-right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      margin-left: 5px;

      .my-profil-right-container {
        display: flex;
        align-items: center;

        justify-content: space-around;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
      }

      .bio-container {
        p {
          margin-left: 20px;
          padding: 10px;
          width: auto;
          height: auto;
        }
      }
    }

    .user-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .user-name {
      font-weight: 500;
    }
    .user-name,
    .follower-info {
      margin-top: 12px;
    }

    .bio {
      margin-top: 6px;
    }

    .follower-info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .flex {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-inline: 10px;
        padding-block: 5px;
        justify-content: center;
        align-items: center;

        h4 {
          font-size: 1.2rem;
        }
      }

      .bold {
        font-size: 1.1rem;
      }
    }

    .follow,
    .update-profile {
      margin-top: 20px;
      display: inline-block;
    }
    .follow-link {
      color: var(--accent-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .Profile {
    .right-part {
      .profile-card {
        .profile-container {
          gap: 1px;
          .my-profile-left {
            .user-img {
              width: 80px;
              height: 80px;
            }
          }
          .my-profile-right {
            justify-content: center;
            align-items: center;

            .my-profil-right-container {
              gap: 20px;
            }
            .follower-info {
              gap: 1px;
              h4 {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
