.Navbar {
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 999;
  height: 60px;
  border-bottom: 1px solid var(--border-color);

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right-side {
    display: flex;
    gap: 20px;
    align-items: center;

    .logout {
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease-in-out 0.3s;

      &:hover {
        transform: scale(1);
      }
      &:active {
        color: #8c55aa;
        transform: scale(0.9);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Navbar {
    .container {
      margin-inline: 13px;
    }
  }
}
